#header-container {
  width: 100%;
  height: 80px;
  background-color: rgb(250, 250, 250);

  #header-title {
    display: inline-block;
    font-size: 42px;
    line-height: 80px;
    letter-spacing: 10px;
    margin-left: 50px;
    font-weight: bold;
    color: rgb(35, 35, 35);
  }

  #header-login {
    display: inline-block;
    position: absolute;
    font-size: 24px;
    color: rgb(35, 35, 35);
    top: 20px;
    right: 50px;

    &:hover {
      cursor: pointer;
    }
  }
}
