.main-container {
  font-family: "Jua", sans-serif;
  // font-family: "Gugi", cursive;
  // font-family: "Black Han Sans", sans-serif;
  // font-family: "Nanum Gothic", sans-serif;
  // font-family: "Do Hyeon", sans-serif;
  // font-family: "Open Sans", sans-serif;

  .main-first-row {
    width: 100%;
    height: 650px;

    .main-first-row-left {
      float: left;
      width: 60%;
      height: 100%;
      background-color: rgb(250, 250, 250);

      img {
        position: relative;
        display: block;
        width: 50%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    .main-first-row-right {
      float: left;
      background-color: #17e9e0;
      width: 40%;
      height: 100%;

      .main-first-row-right-text {
        margin-top: 170px;
        font-size: 42px;
        text-align: center;
        letter-spacing: 5px;
        color: rgb(40, 40, 45);

        .main-first-row-right-sub-text {
          font-size: 20px;
          margin-top: 75px;
        }
      }

      #main-start {
        background-color: #fccd04;
        width: 300px;
        height: 60px;
        font-weight: bold;
        font-size: 32px;
        color: rgb(53, 53, 53);
        text-align: center;
        line-height: 60px;
        border-radius: 50px;
        margin: auto;
        margin-top: 50px;
        letter-spacing: 5px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .main-rows {
    width: 100%;
    height: 550px;

    .main-rows-inner {
      position: relative;
      width: 1200px;
      height: 400px;
      margin: auto;
      top: 50%;
      transform: translateY(-50%);

      .main-rows-texts {
        float: left;
        position: relative;
        width: 600px;
        top: 50%;
        transform: translateY(-50%);

        .main-rows-main-text {
          color: rgb(40, 40, 45);
          font-size: 52px;
        }

        .main-rows-sub-text {
          padding: 30px 0;
          font-size: 20px;
        }

        .main-rows-start {
          display: inline-block;
          margin-top: 20px;
          width: 300px;
          height: 60px;
          font-size: 36px;
          line-height: 60px;
          background-color: #fccd04;
          border-radius: 30px;
          text-align: center;
          color: rgb(53, 53, 53);
          letter-spacing: 4px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .main-rows-img {
        float: left;
        width: 600px;
        height: 100%;

        img {
          position: relative;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 10px;
        }

        .main-rows-img-second {
          float: left;
          width: 70%;
        }

        .main-rows-img-third {
          float: right;
          width: 70%;
        }
      }
    }

    &:nth-child(odd) {
      background-color: rgb(235, 235, 235);
    }

    &:nth-child(even) {
      text-align: right;
    }
  }
}
